<div class="h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white p-8 rounded shadow-md w-full max-w-sm">
    <h2 class="text-2xl font-bold mb-4 text-center">Iniciar sesión</h2>

    <form (ngSubmit)="onLogin()">
      <div class="mb-4">
        <label class="block text-gray-700 mb-1">Correo</label>
        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          required
          class="w-full border border-gray-300 px-3 py-2 rounded focus:outline-none focus:ring focus:ring-blue-400"
        />
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 mb-1">Contraseña</label>
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          required
          class="w-full border border-gray-300 px-3 py-2 rounded focus:outline-none focus:ring focus:ring-blue-400"
        />
      </div>

      <button
        type="submit"
        class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700"
      >
        Entrar
      </button>

      <p *ngIf="error" class="text-red-600 text-sm mt-3">{{ error }}</p>
    </form>
  </div>
</div>
